.bg-img{
    background:url(../hero-img.jpg);
    min-height: 512px;
    background-size: cover;
}
.bolded-orange {
    font-weight: 500;
    color: #f4511e;
}
.img-card {
    min-width: 200px;
    min-height: 250px;
    max-width: 200px;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    width: 100%;
  
}
.blog-header {
    overflow-x: hidden;
}
.card {
   height:100%!important;
   max-height: 260px;
}
.desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width: 768px) {

.card {
    flex-direction: column-reverse!important;
     height:unset!important;
   max-height: unset;

}

}
@media (max-width: 1024px) {
.desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
}
.price__btn {
    width:100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
.price__btn {
    flex-direction:column;
    }

    .pizza__cards{
        flex-direction: column-reverse!important;
        max-height: unset;
        height: unset!important;
    }
    .img-card {
        min-width: unset;
        max-width: unset;
        width: 100%;
    }
}
.btn-primary {
    background-color: #ee5a00;
    border-color: #ee5a00;
}
.btn-primary:hover {
    background-color: #e45802;
    border-color: #ee5a00;
}
.btn-primary:active {
    background-color: #e45802!important;
    border-color: #ee5a00!important;
    box-shadow: none;
}
.btn-primary:focus {
    background-color: #e45802;
    border-color: #ee5a00;
    box-shadow: none;
}
.btn-primary:visited {
    background-color: #e45802;
    border-color: #ee5a00;
}
.btn-outline-secondary {
    margin-right: 24px;
}

.button__wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.btn-plus, .btn-minus {
   font-size: 0.875rem;
    line-height: 1.5;
}

.btn-minus {
    margin-left: 10px;
}
.quantity__pizza {
    margin-top:10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.quantity-txt {
    margin:0;
}
.img-card2 {
    min-height: 100px;
}
@media (max-width: 1200px) {
.img-card2 {
    min-width: unset;
    max-width: 160px;
  }
}
@media (max-width: 1024px) {
    .img-card2 {
    min-width: unset;
    max-width: unset;
    width:100%;
    }
}
.mt40 {
    margin-top: 40px;
}
.mb40 {
    margin-bottom: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}
.d-none {
    display: none;
}
.alert {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 99999;
    font-weight: 500;
}
.btn-primary {
    max-height: 52px;
}